.hide {
  display: none !important;
}
.ucSimpleHeader {
  /* height: auto; */
  /* padding-top: 28px;
  padding-bottom: 40px; */
  height: 40px;
  width: 1263px;
}

a.linkABlue:link,
a.linkABlue:visited {
  color: #387aff;
}

a.linkABlue:hover {
  color: #3058df;
  cursor: pointer;
}

button.fullBtnBlue {
  background-color: #387aff;
}
button.fullBtnBlue:hover {
  background-color: #3058df;
}

.banner-box {
  position: relative;

  height: 750px;

  background: #ffffff;
}
.banner-box .bg-box {
  position: relative;
  width: 1263px;
  height: 580px;
  margin: 0 auto;
}

.main-form {
  width: 298px;
  position: absolute;
  top: 17%;
  right: 85px;
  background-color: #fff;
  padding: 35px 35px 10px;
  border-radius: 4px;
}

.main-form .normalInput {
  margin-bottom: 20px;
}

#toLogin {
  color: #2b2b2b;
}
.rememberField {
  margin-bottom: 25px;
  height: 24px;
  line-height: 20px;
}
.rememberField label {
  margin-right: 7px;
  cursor: pointer;
  font-size: 14px;
  color: #7f7f7f;
}
.rememberField label:hover {
  color: #000000;
}
.rememberFieldForA {
  margin-left: 90px;
}
.checkboxPic {
  width: 20px;
}

.transferField:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.go2forgetpwd {
  float: right;
}

#password {
  width: 100%;
  display: inline-block;
  /*height: 50px;*/
  line-height: 22px;
  font-size: 14px;
  outline: none;
  color: #474747;
  *line-height: 25px;
  line-height: 0px;
  line-height: 50px\0;
}

.tab-title {
  font-size: 18px;

  margin-top: 35px;
  width: 300px;
  text-align: center;
}
.register-line {
  color: #b3abab;
  display: inline-block;
  border: 2px solid #b3abab;
  border-left: 1px;
  height: 10px;
  line-height: 20px;
  margin-right: 32px;
  margin-left: 32px;
}

#header img {
  height: 68px;
}
#header {
  height: 68px;
  padding: 0;
}

#footer {
  background-color: #ffffff;
  height: 110px;
  width: 1260px;

  bottom: 0px;
  /* background: url() no-repeat center; */
}
